<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Leaderboard Page</title>
</head>
<body>


	<div align="right">
		<a th:href="@{/Home}">Home</a>
	</div>


	<h1>This is the Leaderboard Page</h1>

	<div th:if="${#lists.isEmpty(users)}">
		<span> There are no users in the leaderboard</span>
	</div>
	<div th:if="${not #lists.isEmpty(users)}">


		<table>
			<thead>
				<tr>
					<th>Users</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="u : ${users}">
					<td th:text="${u.username}"></td>
					<td th:text="${u.points}"></td>
				</tr>
			</tbody>
		</table>

	</div>



</body>
</html>