<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Statistics Page</title>
</head>
<body>

	<h1>This is the Statistics Page</h1>


	<form action="ThanksPage" method="POST">

		<br> <br> 
			Age: 
			<select name="age" id="age">
			<option value="None" selected>None</option>
   	        <option th:each="i : ${#numbers.sequence(1, 100)}" th:value="${i}" th:text="${i}" ></option>
            </select>

		<br> <br> 
			Sex: <select name="sex" id="sex">
			<option value="None" selected>None</option>
			<option value="Male">Male</option>
			<option value="Female">Female</option>
			<option value="Other">Other</option>
		</select> 
		
		<br> <br> 
			Expertice: <select name="expertice" id="expertice">
			<option value="None"selected>None</option>
			<option value="Low">Low</option>
			<option value="Medium">Medium</option>
			<option value="High">High</option>
		</select> <br> <br> <input type="submit" name="Submit" value="Submit">
		
	</form>


	<form action="QuestionnairePage" method="GET">
		<input type="submit" name="Previous" value="Previous">
	</form>

	<form action="Home" method="GET">
		<input type="submit" name="Cancel" value="Cancel">
	</form>



</body>
</html>