<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thank You Page</title>
</head>
<body>

	<h1>This is the Submission Page</h1>


	<div th:if="${banned == true}">
		<span> You have been banned because of offensive words!!! </span>
	</div>
	<div th:if="${banned == false}">
		<span> Thank you for your responses, your opinion is very important for us!!! </span>

	</div>




	<form action="Home" method="GET">
		<input type="submit" name="HomePage" value="HomePage">
	</form>


</body>
</html>